.car{
    background-image: url("../images/car3.png");
    background-position: center;
    background-size: cover;
}
.car1{
    background-image: url("../images/car2.png");
    background-position: center;
    background-size: cover;
}
.car2{
    background-image: url("../images/car.png");
    background-position: center;
    background-size: cover;
    transform: rotateY(180deg);
}
.car3{
    background-image: url("../images/car1.png");
    background-position: center;
    background-size: cover;
    
}